@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,300;1,300&display=swap');

/***************
 Global Styles
***************/

:root {
    --bg-color: #080808;
    --text-color: #FFFFFF;
    --hover-color: #AAAAAA;
    --serif-font: "Noto Serif", serif;
    --sans-font: "Noto Sans", Calibri, Arial;
}

* {
    box-sizing: border-box;
    color: var(--text-color);
}

html {
    height: 100%;
    background: var(--bg-color);
    font-family: var(--serif-font);
}


/********************
 Layout/Grid Layout
********************/

body {
    height: 100%;
    margin: 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "nav"
    "main"
    "hero";
    background: var(--bg-color);
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background: var(--bg-color);
    user-select: none;
}

#hero {
    height: fit-content;
    grid-area: hero;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--bg-color);
    user-select: none;
}

main {
    grid-area: main;
    padding: 2rem 0;
    font-family: var(--sans-font);
}


/****************
 Navigation Bar
****************/

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem 0 0;
    float: left;
}

nav ul li a:hover {
    color: var(--hover-color);
}


/**************
 Hero Section
**************/

#hero h1 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

#hero p {
    margin: 0.75rem 0 0 0;
}

#hero-def {
    width: 100%;
}


/**************
 Main Content
**************/

main header {
    border-bottom: 0.175rem solid #FFFFFF;
}

main a:hover {
    color: var(--hover-color);
}

article footer {
    margin: 3rem 0 0;
    border-top: 0.175rem solid #FFFFFF;
}


/****************
 Tablet Styling
****************/

@media (min-width: 35em) {
    body {
        grid-template-columns: 0.75fr 0.5fr 1.25fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "nav nav main"
        "hero hero main";
    }
    
    main {
        padding: 1.5rem;
        overflow: scroll;
    }

    nav {
        display: block;
    }

    #hero {
        height: 100%;
    }

    #hero-def {
        width: 80%;
    }
}


/*****************
 Desktop Styling
*****************/

@media (min-width: 56em) {
    #hero h1 {
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }

    #hero-def {
        width: 65%;
    }
}
