/* Website Fonts */
@import url("https://fonts.googleapis.com/css2?family=ubuntu+mono");

/* Global Styles */
html
{
    height: 100%;
    background-color: #101010;
    font-family: "Ubuntu Mono";
    color: #FFFFFF;
}

body
{
    min-height: 100%;
    margin: 0;
}

h1
{
    margin: 0;
    font-size: 1.125rem;
}

p
{
    font-size: 0.875rem;
}

a
{
    color: #FFFFFF;
}

a:hover
{
    color: #CCCCCC;
}

/* List */
nav ul
{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    gap: 1.5rem;
}

/* Layout */
header
{
    width: 100%;
    height: 100%;
    padding: 1.25rem 0;
}

main
{
    height: 100%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem 10rem;
}

ul
{
    margin: 0;
    padding: 0 1rem;
}

ul li
{
    font-size: 0.875rem;
}



/* Navigation */
nav li
{
    float: left;
}

nav li a
{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

/* Page: Homepage */

#home_intro
{
    grid-column: 1 / span 4;
}

.home_section
{
    padding: 0.75rem;
    border: 4px solid #FFFFFF;
}
